# Entorno virtual de Python
.venv/
venv/
ENV/
env/

# Archivos de configuración y claves sensibles de OCI
.oci/

# Variables de entorno locales
.env

# Archivos generados por Python / IntelliJ / IDEs
__pycache__/
*.py[cod]
*$py.class
.idea/
.vscode/

# Archivos temporales de prueba
prueba.txt
descargado_prueba.txt