# Entornos virtuales
venv/
env/
.venv/

# Cachés de Python
__pycache__/
*.pyc

# Variables de entorno / credenciales
.env
.env.local

# Cache de Streamlit
.streamlit/secrets.toml

# Archivos subidos temporalmente por el usuario (si se prueban localmente)
uploads_temp/